body {
  font-family: "Bebas Neue", cursive;
  background-color: whitesmoke;
}
h1 {
  text-align: center;
  margin: 25px 0 15px;
  letter-spacing: 5px;
  font-size: 45px;
}
.loader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.image-container {
  margin: 10px 30%;
}
.image-container img {
  width: 100%;
  margin-top: 5px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}
